body {
    margin:0;
    padding:0;
}
div#game-common{
    position:relative;
}
div#messages {
    background-color: rgba(0,0,0,.5);
    color: #fff;
    font-family: monospace;
    font-size: 12px;
    position: absolute;
    width:100%;
    left:0;
    bottom:0;
    margin:0;
    padding:0;
}
div.singlemessage {
    width:100%;
}
