body {
    margin:0;
    padding:0;
}
div#game-common{
    position:relative;
}
div#messages {
    background-color: rgba(0,0,0,.5);
    color: #fff;
    font-family: monospace;
    font-size: 12px;
    position: absolute;
    width:100%;
    left:0;
    bottom:0;
    margin:0;
    padding:0;
    overflow-y: scroll;
}
div.singlemessage {
    width:100%;
}
div#directions {
    display:none;
    position: absolute;
    width:96px;
    height:96px;
}
div#direction-left {
    position: absolute;
    top: 32px;
    left: 0;
    width: 32px;
    height: 32px;
    background: url("/finalgraphics/interface.png") 64px 0
}
div#direction-right {
    position: absolute;
    top: 32px;
    right: 0;
    width: 32px;
    height: 32px;
    background: url("/finalgraphics/interface.png") 0 0
}
div#direction-bottom {
    position: absolute;
    bottom: 0px;
    left: 32px;
    width: 32px;
    height: 32px;
    background: url("/finalgraphics/interface.png") 96px 0
}
div#direction-top {
    position: absolute;
    top: 0px;
    left: 32px;
    width: 32px;
    height: 32px;
    background: url("/finalgraphics/interface.png") 32px 0
}